@import "nullstyle.scss";

$iz:75px;
$col: #007f97; 
$span: 20px;

%zagolovok{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 50px;
    color: $col;
    display: block;
    text-align: center;
    margin-bottom: 50px;
}

@mixin fontz($f){
    font-size: $f;
}



.wrapper{
    padding: 0 20%;
}

body{
    overflow-x: hidden;
}

header{
    width: 100%;
    height: 750px;
    background:  url('../img/lake.jpg') no-repeat;
    .header__logo{
        margin-right: 80%;
        display: inline-block;
        img{
        max-width: $iz;
        
        }
    }
    .header__burger{
        max-width: $iz + 5px;
        display: inline-block;
        img{
        position: relative;
        top: 5px;
        max-width: $iz - 5px;
        }
    }
    .header__nav{
        padding-top: 1%;
        margin-bottom: 300px;
    }
    h1{
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 900;
        color: #fff;
        font-size: 40px;
        display: block;
        text-transform: uppercase;
        text-shadow: 0 2px 0 black;
        transition-delay: 2s;
        margin-bottom: 30px;
    }
    span{
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 900;
        @include fontz(50px);
        display: block;
        text-transform: uppercase;
        text-shadow: 1px 2px 0 black;
        transition-delay: 2s;
        width: 900px;
        margin: 0 auto;
        margin-bottom: 150px;
    }
}
.header__info{
    margin-top: -100px;
    z-index: 3;
}

.info__columns{
    width: 1100px;
    height: 300px;
    border: 15px solid $col;
    border-radius: 75px;
    padding: 15px;
    background-color: #fff;
    margin-bottom: 200px;
}

.info__row{
	display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
	margin: 0 -30px;
}

.info__item{
    justify-content: space-between;
    width: 300px;
	 padding: 0 30px;
	flex: 0 1 33%;
}

.info__item{
    span{
        font-family: Arial, Helvetica, sans-serif;
        @include fontz(50px);
        font-weight: bold;
        color: $col;
        width: 160px;
        display: block;
        margin: 10px auto;
    }
    p{
        font-family: Arial, Helvetica, sans-serif;
        font-weight: normal;
        font-size: 25px;
        text-align: center;
    }
}

.advantages__info{
    margin-bottom: 100px;
    h3{
        @extend %zagolovok;
    }
}

.advantages__row{
	display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
	padding: 0 -10px;
}

.advantages__item{
    justify-content: space-between;
    width: 300px;
	margin: 0 10px;
    flex: 0 1 33%;
    img{
            padding-left: 9px;
            margin-bottom: 10px;
    }
    h4{
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        @include fontz($span);
        color: $col;
        display: block;
        text-align: center;
        padding-top: 10px;
        margin-bottom: 10px;
    }
    p{
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        @include fontz(15px);
        color: $col;
        display: block;
        text-align: center;
        margin-bottom: 10px;
    }
}

.feedback__row{
	display: flex;
	flex-wrap: wrap;
    margin: 0 -10px;
    // background-color: $col;
    padding-top: 10px;
    padding-left: 20%;
    padding-right: 5%;
    height: 80px;
}

.feedback__column{
	flex: 0 1 33%;
	margin-bottom: 20px;
	padding: 0 10px
}

.feedback__item {
    label{
        color: $col;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
        margin-right: 20px;
    }
    input{
        display: inline-block;
        width: 249px;
        height: 55px;
        background-color: $col;
        font-family: Arial, Helvetica, sans-serif;
        font-style: normal;
        font-weight: normal;
        @include fontz($span);
        line-height: 19px;
        color: #000000;
        padding-left: 20px;
        text-decoration-color: black;
        &:hover{
            opacity: 0.8;
            position: relative;
            bottom: 5px;
            box-shadow: 2px 2px 0 black;
        }
    }
}
.feedback {
    margin-bottom: 100px;
        h5{
            @extend %zagolovok;
        }
}

.feedback__item {
    button{
        display: inline-block;
        width: 170px;
        height: 55px;
        background-color: #111111;
        font-family: Arial, Helvetica, sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 14px;
        letter-spacing: 0.07em;
        color: #FFFFFF;
        padding-left: 16px;
        margin-bottom: 100px;
    }
}

.header__contacts{
    display: inline-block;
    span{
        display: inline-block;
        color: $col;
        margin-bottom: 10px;
        @include fontz($span);
        text-shadow: none;
        text-align: right;
        position: relative;
        bottom: 60px;
    }
}

.footer{
    height: 100px;
    background-color: $col;
    span{
        padding-top: 50px;
        font-family: Arial, Helvetica, sans-serif;
        @include fontz($span);
        display: block;
        width: 100px;
        margin: 0 auto;
        font-weight: bold;
    }
}